<ion-header>
  <ion-toolbar>
    <ion-title>Campaign Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="advert">
    <ion-item>
      <ion-label position="stacked">Campaign Title</ion-label>
      <ion-input [(ngModel)]="advert.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Advert Image</ion-label>
      <ion-input [(ngModel)]="advert.file" rows="8"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input [(ngModel)]="advert.desc"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-input
        value="{{ advert.startDate | date: 'dd.MM.yyyy' }}"
        id="date"
        class="ion-text-end"
      ></ion-input>
      <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime
            presentation="date"
            [(ngModel)]="advert.startDate"
            locale="en-SG"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-input
        value="{{ advert.endDate | date: 'dd.MM.yyyy' }}"
        id="date"
        class="ion-text-end"
      ></ion-input>
      <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime
            presentation="date"
            [(ngModel)]="advert.endDate"
            locale="en-SG"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  
  </div>

  <ion-button expand="block" color="success" (click)="updateAdv()">
    <ion-icon name="save" slot="start"></ion-icon>
    Update
  </ion-button>

  <ion-button expand="block" color="danger" (click)="deleteAdv()">
    <ion-icon name="trash" slot="start"></ion-icon>
    Delete
  </ion-button>

  <ion-button expand="block" color="primary" (click)="addProducts()">
    <ion-icon name="trash" slot="start"></ion-icon>
    Add Products
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="toProd()">
    <ion-icon name="trash" slot="start"></ion-icon>
    Product List
  </ion-button>
 
</ion-content>
