<ion-header>
  <ion-toolbar>
    <ion-title>Reward</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  

   

        <ion-item *ngFor="let reward of rewards" >
          <ion-col size="12" width="100%">
            <ion-card>
              <img src="assets\reward-icon\BachaCoffee.JPG" />
              
              <ion-card-content>
                <ion-card-title>
                          {{ reward.rewardName }}
                </ion-card-title>
                <p>
                          {{ reward.rewardDetail }}
                </p>

                <ion-row no-padding>
                  <ion-col>
                    <button ion-button clear small color="danger" icon-start>
                      <ion-icon name='star'></ion-icon>
                    {{ reward.rewardCategory }}
                    </button>
                  </ion-col>

                  <ion-col text-center>
                    <button ion-button clear small color="danger" icon-start>
                      $ {{ reward.rewardCost}}
                    </button>

                  </ion-col>
                  <ion-col text-right>
                    <button ion-button clear small color="danger" icon-start>
                      <ion-icon name='share'></ion-icon>
                      Exchange
                    </button>
                  </ion-col>              
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-item>    

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addReward()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>

</ion-content>
