<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Upload Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input [(ngModel)]="product.name" placeholder="Title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="product.desc" placeholder="Description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="product.brand" placeholder="Brand"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="product.desc" placeholder="Description"></ion-input>
  </ion-item>

  <div class="image-upload" (click)="addImage()" tappable>
    <p class="upload-text" *ngIf="!capturedImage">
      <ion-icon name="image"></ion-icon>
      Add your image
    </p>
    <img [src]="capturedImage" *ngIf="capturedImage">
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="save()" [disabled]="product.name == '' || !capturedImage">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

</ion-content>
