<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Upload Campaign</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input [(ngModel)]="advert.title" placeholder="Title"></ion-input>
  </ion-item>

  <div class="image-upload" (click)="addImage()" tappable>
    <p class="upload-text" *ngIf="!capturedImage">
      <ion-icon name="image"></ion-icon>
      Add your image
    </p>
    <img [src]="capturedImage" *ngIf="capturedImage">
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="save()" [disabled]="advert.title == '' || !capturedImage">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

</ion-content>
