<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-button fill="clear" slot="start" [routerLink]="['/advertiser-page']">
      Advertiser Page
    </ion-button> -->
    <ion-button slot="start" fill="clear" [routerLink]="['/overview']">
      <ion-icon slot="icon-only" name="chatbubbles-outline" padding=10px [routerLink]="['/overview']"></ion-icon>
    </ion-button>

    <ion-title class="ion-text-center">Promotions</ion-title>

    <ion-button slot='end' fill='clear' (click)="logout()">
      <ion-icon name="exit-outline" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header>

  </ion-header>

   <ion-item *ngFor="let advert of adverts" >
    <ion-card>
        <ion-img [src]="advert.file"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ advert.title }}</ion-card-title>
          <ion-card-subtitle>{{ advert.startDate | date: 'dd.MM.yyyy' }} to {{ advert.endDate | date: 'dd.MM.yyyy' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ advert.desc }}
        </ion-card-content>
      </ion-card>
  </ion-item>
    
</ion-content>
