<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Personal Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personal Information is displayed here</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngIf="personal !== null">
      <ion-icon size="large" id="profile-icon" name="person-circle-sharp"></ion-icon>
      <ion-label id="profile-name">
        <h1>{{personal[0].name}}</h1>
        <h2>Budget Set: {{personal[0].budget}}</h2>
        <h2>Reset Date: {{personal[0].resetDate | date: "dd-MM-yyyy"}}</h2>
      </ion-label>
      <ion-button expand="block" color="secondary" type="submit" (click)="set()">Set Budget</ion-button>
    </ion-item>
  </ion-list>
</ion-content>


