<ion-header>
  <ion-toolbar>
    <ion-title>addReward-page</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/create">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="addRewardForm" (submit)="addReward()">
    <ion-item>
      <ion-label stacked>Reward Name</ion-label>
      <ion-input formControlName="rewardName" type="text" placeholder="What's this reward called?">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Reward Cost</ion-label>
      <ion-input formControlName="rewardCost" type="text" placeholder="Reward cost">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Reward Date</ion-label>
      <ion-input formControlName="rewardDate" type="text" placeholder="What's the album's name?">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Reward Description</ion-label>
      <ion-textarea formControlName="rewardDescription" type="text" placeholder="What's this song about?">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Reward Category</ion-label>
      <ion-textarea formControlName="rewardCategory" type="text" placeholder="What's this song about?">
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!addRewardForm.valid">
      Add Reward
    </ion-button>
  </form>
</ion-content>
