<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['/add-product-page']">
        <ion-icon slot="icon-only" name="add-circle-outline" padding=10px></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title >Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-slides>
      <ion-slide *ngFor="let productBanner of productbanners">
        <img src="{{ productBanner.banner }}" class="image-size"/>
      </ion-slide>
    </ion-slides>

    &nbsp;

    <ion-item *ngFor="let product of products">

      <img src="{{ product.productImage }}" class="image-size"/>
      
      <ion-card>
        <ion-card-content>
          <ion-card-title>

            <ion-label>
            {{ product.productName }}
            </ion-label>
            <p>
            {{ product.productDescription }}
            </p>

          </ion-card-title>

          <ion-row no-padding>
            <ion-col >
              <label icon-start>
                <ion-icon name='grid-outline'></ion-icon>
              {{ product.productCategory }}
              </label>
            </ion-col>

            <ion-col text-center>
              <label icon-start>
                <ion-icon name='cash'></ion-icon>
              {{ product.productPrice }}
              </label>
            </ion-col>

          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addProduct()">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-list>
</ion-content>
