<ion-header>
	<ion-toolbar color="primary">
	  <ion-title>Login</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
  
	<form (ngSubmit)="register()" [formGroup]="credentialsForm">

    <ion-item>
    <ion-input type="text" placeholder="Enter name" 
    name="name" formControlName="name"></ion-input>
    </ion-item>

	  <ion-item>
		<ion-input type="email" placeholder="Email" 
		name="email" formControlName="email"></ion-input>
	  </ion-item>
  
	  <ion-item>
		<ion-input type="password" placeholder="Password" 
		name="password" formControlName="password"></ion-input>
	  </ion-item>
  
	  <ion-button color="secondary" expand="full" type="button" type="submit" [disabled]="!credentialsForm.valid">
		Create Account
	  </ion-button>
    <ion-button color="primary" expand="full" [routerLink]="['/login']">
      Back to Login
    </ion-button>
  
	</form>
</ion-content>
  